@using ProvaMG.App.Controllers
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home pr-10"></i><a href="index.html">Home</a>
                    </li>
                    <li class="active">Forms</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 id="forms" class="page-title">Home</h1>
                <br>


                <!-- Forms start -->
                <!-- ============================================================================== -->
                <h2>Unidades Federativas</h2>
                <select class="form-control" id="Unidades" name="Unidades">
                    <option value="-1">- Selecione -</option>
                    @foreach (var item in Model.Unidades)
                    {
                        <option>@item</option>
                    }
                </select>

                <h2>Municípios</h2>
                <br>
                <table class="table table-hover" id="Municipios" name="Municipios">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Municipios.FirstOrDefault().Nome)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Municipios)
                    {
                        <tr>
                            <td>@item.Codigo</td>
                            <td>@item.Nome</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
            $(document).ready(function () { 
                     
                $('#Unidades').change(carregarMunicipios);
                
                $( "#Municipios tfoot" ).on( "click", "a", function( event ) {
                    var elem = $( this );
                    
                    paginar(elem.attr('data-pagina'));
                });
            });
            
            function gerarPaginador(target, currentPage, pageCount){
                
                var paginacao = '<tr><td colspan="2">';
                
                for (var i = 1; i < pageCount; i++) {
                    if (currentPage === i)
                        paginacao += '<strong>';
                    
                    paginacao += '<a href="#" data-pagina="'+i+'" class="paginador">' + i + '</a>&nbsp';
                    
                    if (currentPage === i)
                        paginacao += '</strong>';
                    
                }
                
                paginacao += '</td></tr>';
                
                target.append(paginacao);
            } 

            function carregarMunicipiosPaginado(uf, pagina) {
                
                var municipiosTableBody = $('#Municipios tbody');
                var municipiosTableFooter = $('#Municipios tfoot');
                
                municipiosTableBody.empty();
                municipiosTableFooter.empty();
                
                if (uf != null && uf !== '') {
                    $.getJSON('@Url.Action("ObterMunicipiosPor")', { uf: uf, pagina: pagina }, function (data) {
                        if (data != null && !jQuery.isEmptyObject(data))
                        {
                            
                            $.each(data.results, function (index, municipio) {
                                municipiosTableBody.append('<tr><td>' + municipio.codigo + '</td><td>' + municipio.nome + '</td></tr>');
                            });
                       
                            gerarPaginador(municipiosTableFooter, data.currentPage, data.pageCount);
                            
                        }
                    });
                }
            }
            
            function carregarMunicipios() {
                
                var unidadeSelecionado = $("#Unidades").val();
                
                carregarMunicipiosPaginado(unidadeSelecionado, 1);
            }
            
            function paginar(indice){
                var unidadeSelecionado = $("#Unidades").val();
                
                carregarMunicipiosPaginado(unidadeSelecionado, indice);
            }
            
    </script>
}