@using ProvaMG.App.Controllers
@{
    Layout = "_Layout1";
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="active">Home</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Logout", "Conta")">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 id="forms" class="page-title">Home</h1>
                <br>


                <!-- Forms start -->
                <!-- ============================================================================== -->
                <h2>Unidades Federativas</h2>
                <select class="form-control" id="Unidades" name="Unidades">
                    <option value="-1">- Selecione -</option>
                    @foreach (var item in Model.Unidades)
                    {
                        <option>@item</option>
                    }
                </select>

                <h2>Municípios</h2>
                <br>
                <table class="table table-hover" id="Municipios" name="Municipios">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Municipios.FirstOrDefault().Nome)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Municipios)
                    {
                        <tr>
                            <td>@item.Codigo</td>
                            <td>@item.Nome</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</section>

@section Styles {
    <style type="text/css">
    .txtedit {
     display: none;
     width: 99%;
     height: 30px;
    }
    </style>
}

@section Scripts {
    <script type="text/javascript">
            $(document).ready(function () { 
                     
                $('#Unidades').change(carregarMunicipios);
                
                $( "#Municipios tbody" ).on( "click", "a", function( event ) {
                    var elem = $( this );
                    elem.next('.txtedit').show().focus();
                    elem.hide();
                });
                
                $( "#Municipios tbody" ).on( "focusout", "input.txtedit", function( event ) {
                    var elem = $( this );
                    var municipioCodigo = elem.attr('data-id');
                    var municipioNovoNome = elem.val();
                    
                    // TODO Waiting?
                    elem.hide();
                    
                    elem.prev('a').show();
                    elem.prev('a').text(municipioNovoNome);
                    
                    editar(municipioCodigo, municipioNovoNome);
                });
                
                $( "#Municipios tfoot" ).on( "click", "a", function( event ) {
                    var elem = $( this );
                    var indicePagina = elem.attr('data-pagina'); 
                    
                    paginar(indicePagina);
                });
            });
            
            function editar(municipioCodigo, municipioNovoNome) {
            
                // TODO Waiting?
                $.post('@Url.Action("AlterarNomeMunicipio")', { codigo: municipioCodigo, novoNome: municipioNovoNome }, function (data) {
                    if (data != null && !jQuery.isEmptyObject(data))
                    {
                        
                    }
                })
                .fail(function() {
                    alert( "error" );
                });
            }  
            
            function gerarPaginador(target, currentPage, pageCount){
                
                var paginacao = '<tr><td colspan="2">';
                
                for (var i = 1; i < pageCount; i++) {
                    
                    if (currentPage === i)
                        paginacao += '<strong>';
                    
                    paginacao += '<a href="#" data-pagina="'+i+'" class="paginador">' + i + '</a>&nbsp';
                    
                    if (currentPage === i)
                        paginacao += '</strong>';
                    
                }
                
                paginacao += '</td></tr>';
                
                target.append(paginacao);
            } 

            function carregarMunicipiosPaginado(uf, pagina) {
                
                var municipiosTableBody = $('#Municipios tbody');
                var municipiosTableFooter = $('#Municipios tfoot');
                
                municipiosTableBody.empty();
                municipiosTableFooter.empty();
                
                if (uf != null && uf !== '') {
                    $.getJSON('@Url.Action("ObterMunicipiosPor")', { uf: uf, pagina: pagina }, function (data) {
                        if (data != null && !jQuery.isEmptyObject(data))
                        {
                            $.each(data.results, function (index, municipio) {
                                
                                var linha = '<tr>';
                                
                                //codigo                                
                                linha += '<td>' +municipio.codigo + '</td>';
                                
                                //nome
                                linha += '<td>';
                                if(municipio.editavel)
                                {
                                    linha += '<a href="#" data-id="' + municipio.codigo + '">' + municipio.nome + '</a>';
                                    linha += '<input type="text" class="txtedit" value="' + municipio.nome + '" id="txtedit_' + municipio.codigo + '" data-id="' + municipio.codigo + '">';
                                }
                                else
                                    linha += municipio.nome;
                                
                                linha += '</td>';
                                linha += '</tr>';
                            
                                municipiosTableBody.append(linha);
                            });
                            
                            
                       
                            gerarPaginador(municipiosTableFooter, data.currentPage, data.pageCount);
                            
                        }
                    });
                }
            }
            
            function carregarMunicipios() {
                
                var unidadeSelecionado = $("#Unidades").val();
                
                carregarMunicipiosPaginado(unidadeSelecionado, 1);
            }
            
            function paginar(indice){
                var unidadeSelecionado = $("#Unidades").val();
                
                carregarMunicipiosPaginado(unidadeSelecionado, indice);
            }
            
    </script>
}